# Default ignored files
/shelf/
/workspace.xml
C:\Users\Fred\IdeaProjects\Moulin\out\production\Moulin\leJeu\Joueur.class
C:\Users\Fred\IdeaProjects\Moulin\out\production\Moulin\leJeu\Plateau.class
C:\Users\Fred\IdeaProjects\Moulin\out\production\Moulin\leJeu\Jeton.class